# Enable Rewrite Engine
RewriteEngine On

# Disable Indexes
Options -Indexes

# Disable exec files
<Files *.php>
  Order Deny,Allow
  Deny from All
</Files>

<Files *.pl>
  Order Deny,Allow
  Deny from All
</Files>

<Files *.rb>
  Order Deny,Allow
  Deny from All
</Files>

# Rewrite to internal files or folders

# Rewrite empty /
RewriteRule ^$ index.html [L]

# Rewrite common files to correct folders
RewriteRule ^images/(.*)$ /www/images/$1 [L,NC]
RewriteRule ^css/(.*)$ /www/css/$1 [L,NC]

# Redirect to real index.html
RewriteRule ^index.html$ /www/mx/index.html [L,NC]

# Redirect to real rss.xml
RewriteRule ^rss.xml$ /www/mx/rss.xml [L,NC]
RewriteRule ^mx/rss.xml$ /www/mx/rss.xml [L,NC]

# Redirect to real sitemap.xml
RewriteRule ^sitemap.xml$ /www/mx/sitemap.xml [L,NC]

# Redirect from old files to new files
Redirect 301 /rss10.xml /rss.xml
Redirect 301 /rss20.xml /rss.xml
Redirect 301 /atom.xml /rss.xml
Redirect 301 /feed.xml /rss.xml

# ugly file
Redirect 301 /mx/rss.xml /rss.xml
